<!DOCTYPE html>

<html lang="en"{{ if .containsProjects }} style="align-items: flex-start; overflow-y: scroll;"{{ end }}>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="/resources/profile-image.svg" as="image">
    <link rel="preload" href="/resources/main.css" as="style">

    <title>{{ .title }}</title>
    <meta name="title" content="{{ .title }}">

    <link rel="icon" type="image/svg+xml" href="/resources/profile-image.svg">

    <meta name="description" content="{{ .description }}">
    <meta name="keywords" content="tomBoddaert, programming">

    <meta name="author" content="Tom Boddaert">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    {{ if not .containsProjects }}
      <link id="FontStyle" rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" as="style">
    {{ else }}
      <link id="FontStyle" rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth@90&family=Roboto&display=swap" as="style">
    {{ end }}
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    </noscript>

    <link rel="stylesheet" href="/resources/main.css">
    <script src="/resources/main.js" type="module"></script>

    {{ if .containsProjects }}
      <link id="ProjectStyle" rel="preload" href="/resources/projects.css" as="style">
    {{ end }}
  </head>

  <body>
    {{ template "sidebar.html" }}
    {{ template "main.html" . }}
  </body>
</html>
