<nav id="Sidebar">
    <svg id="Sidebar-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24px" height="24px" onclick="sidebarToggle()">
        <rect id="Sidebar-button-top" style="fill: #c0c0c0;" width="16" height="2" rx="1" ry="1" x="0" y="2" />
        <rect id="Sidebar-button-middle" style="fill: #c0c0c0;" width="16" height="2" rx="1" ry="1" x="0" y="6" />
        <rect id="Sidebar-button-bottom" style="fill: #c0c0c0;" width="16" height="2" rx="1" ry="1" x="0" y="10" />
    </svg>
    <a class="sidebar-link" href="/"><span class="material-icons-outlined">home</span> <span>Home</span></a>
    <a class="sidebar-link" href="/about"><span class="material-icons-outlined">contact_page</span> <span>About me</span></a>
    <a class="sidebar-link" onclick="window.open('https://www.twitch.tv/wobally')"><span class="material-icons-outlined">smart_display</span> <span>Twitch</span></a>
    <a class="sidebar-link" href="/links"><span class="material-icons-outlined">link</span> <span>Links</span></a>
    <a class="sidebar-link" href="/contact"><span class="material-icons-outlined">chat_bubble_outline</span> <span>Contact</span></a>
</nav>