<!DOCTYPE html>
<html lang="en">

<head>
    <title>[{ title }]</title>
    <meta name="title" content="Wobally">
    <link rel="icon" href="https://github.com/tomBoddaert/tomBoddaert.github.io/raw/master/resources/logo.png">
    <meta name="description" content="[{ title }]">
    <meta name="keywords" content="gaming, programming, Wobally, tomBoddaert">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Tom 'Wobally' Boddaert">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Quicksand&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <style>
        <{ main.css }>
    </style>
</head>

<body>
    <div id="App">
        <script>
            <{ main.js }>
        </script>
        <{ components/header.html }/>
        <{ components/sidebar.html }/>
        <section id="Content">
            [{ content }]
        </section>
    </section>
</body>

</html>